body{
  margin : 0;
}



/*----------dropdown--------------*/
.dropdown{
  width : 140px;
  position : absolute;
  margin-top : 5px;
  display : none;
  border : 1px solid #aaaaaa;
  border-radius: 5px;
}

.dropdown button{
  text-align : left;
  padding-left : 10px;
}


/*---------- header ----------*/
header .top, header .middle, header .bottom{
  display : flex;
  flex-direction: row;
  justify-content: space-between;
}

header .top{
  box-sizing: border-box;
  height : 80px;
  padding : 22px 5px;
  background-color : rgb(236, 251, 232);
  border-top : 4px solid rgb(10, 228, 18);
}

header .middle{
  box-sizing: border-box;
  height : 70px;
  padding : 17px 5px;
}

header .pointer{
  cursor : pointer;
}

header .pointer input{
  cursor : pointer;
}

header .top > div, header .middle > div{
  margin : 0 5px;
}

header .top > div > label{
  margin-left : 10px;
  background-color : rgb(236, 251, 232);
}

 header .middle > div > label{
   margin-left : 10px;
   background-color : #fff;
 }

header .top > div > input, header .middle > div > input{
  box-sizing: border-box;
  height : 35px;
  border-radius: 5px;
  outline : none;
  border : 1px solid rgba(0,0,0,0.3);
  padding : 10px;
  font-size : 15px;
  width : 100%;
}

header .wrapper{
  display : flex;
  flex-direction: row;
  background-color : #fff;
  border-radius: 5px;
  border : 1px solid rgba(0,0,0,0.3);
  height : 35px;
  box-sizing: border-box;
  justify-content: space-between;
}

header .wrapper input{
  outline : none;
  border : none;
  box-sizing: border-box;
  border-radius: 5px;
  height : 33px;
  padding : 10px;
  font-size : 15px;
  width : 100%;
}

header .wrapper label{
  margin-left : 10px;
  background-color : rgb(236, 251, 232);
}

header .middle .wrapper label{
  background-color : #fff;
}

header .middle select, header .middle button{
  outline : none;
  box-sizing: border-box;
  border : none;
  height : 33px;
  font-size : 15px;
  width : 100%;
  padding-left : 5px;
  background-color : #fff;
  cursor : pointer;
}

header .top > div:nth-child(1){width : 90px;}
header .top > div:nth-child(2){width : 45px;}
header .top > div:nth-child(3){width : 165px;}
header .top > div:nth-child(4){width : 45px;}
header .top > div:nth-child(5){width : 100px;}
header .top > div:nth-child(6){width : 210px;}
header .top > div:nth-child(7){width : 800px;}
header .top > div:nth-child(8){width : 350px;}
header .top .wrapper > div:nth-child(1){width : 85px;}
header .top .wrapper > div:nth-child(2){width : 100%;}

header .middle .wrapper:nth-child(1){width : 590px;}
header .middle .wrapper:nth-child(1) > div:nth-child(1){width : 100px;}
header .middle .wrapper:nth-child(1) > div:nth-child(2){width : 85px;}
header .middle .wrapper:nth-child(1) > div:nth-child(3){width : 150px;}
header .middle .wrapper:nth-child(1) > div:nth-child(4){width : 270px;}

header .middle .wrapper:nth-child(2){width : 120px;}
header .middle .wrapper:nth-child(2) > div:nth-child(1){width : 60px;}
header .middle .wrapper:nth-child(2) > div:nth-child(2){width : 60px;}

header .middle .wrapper:nth-child(3){width : 650px;}
header .middle .wrapper:nth-child(3) > div:nth-child(1){width : 150px;}
header .middle .wrapper:nth-child(3) > div:nth-child(2){width : 100px;}
header .middle .wrapper:nth-child(3) > div:nth-child(3){width : 100px;}
header .middle .wrapper:nth-child(3) > div:nth-child(4){width : 100px;}
header .middle .wrapper:nth-child(3) > div:nth-child(5){width : 100px;}
header .middle .wrapper:nth-child(3) > div:nth-child(6){width : 150px;}

header .middle > div:nth-child(4){width : 150px;}
header .middle > div:nth-child(5){width : 350px;}

/*--------------popup design----------------*/
#popup1, #popup2{
  position : absolute;
  background-color : rgb(242, 242, 242);
  border : 1px solid black;
  z-index : 100;
  box-sizing: border-box;
}

#popup1{
  width : 615px;
  left : 160px;
  top : 67px;
  padding : 40px 70px;
}

#popup1 input{
  box-sizing: border-box;
  height : 35px;
  width : 100%;
  outline : none;
  border : 1px solid rgb(0,0,0,0.3);
  border-radius: 5px;
  padding : 10px;
  font-size : 15px;
}

#popup1 label{
  background-color : #fff;
  margin-left : 10px;
}

#popup1 > div > button{
  border : 1px solid rgb(0,0,0,0.3);
  border-radius: 5px;
  background-color : rgb(229, 245, 249);
  outline : none;
  cursor : pointer;
}

#popup1 > div{
  margin : 20px 0;
  display : flex;
  flex-direction: row;
  justify-content: space-between;
}

#popup1 > div > div{
  flex : 1;
}

#popup1 > div:nth-child(1) > div:nth-child(1){
  margin-right : 20px;
}

#popup1 > div > div{
  margin-right : 10px;
}

#popup1 .setTime{
  display : flex;
  flex-direction: column;
  background-color : #fff;
  border : 1px solid rgb(0,0,0,0.3);
  border-radius: 5px;
  padding : 10px 20px;
}

#popup1 .setTime > div{
  display : flex;
  flex-direction: row;
}

#popup1 .setTime > div:nth-child(1){
  margin-bottom : 10px;
}

#popup1 .setTime button{
  background-color : #fff;
  outline : none;
  border : none;
}

#popup1 .setTime > div > img{
  width : 26px;
  height : 28px;
  margin : auto 20px;
}

#popup1 .timeWrapper{
  padding : 10px 0;
}

#popup1 .timeWrapper > div:nth-child(1){
  font-size : 10px;
}

#popup1 .timeWrapper .number{
  font-size : 22px;
  color : rgb(38, 153, 251);
}

#popup1 .timeWrapper span{
  font-size : 12px;
  color : rgba(255, 0 ,0, 0.6);
}

#popup1 .timeWrapper .number2{
  font-size : 22px;
  color : rgba(0,0,0,0.4);
}

#popup1 .buttonContainer{
  display : flex;
  flex-direction: row;
}

#popup1 .buttonContainer button:nth-child(1){
  background-color : rgb(38, 153, 251);
  color : #fff;
  height : 40px;
  flex : 1;
  margin-right : 10px;
  border : none;
}

#popup1 .buttonContainer button:nth-child(2){
  background-color : rgb(85, 83, 83);
  color : #fff;
  width : 80px;
  border :none;
}

#popup1_1, #popup1_2{
  position : absolute;
  width : 400px;
  background-color : rgb(242, 247, 251);
  top : 460px;
  margin-left : 10px;
  border-radius: 5px;
  padding : 30px 20px;
  font-size : 24px;
  text-align : center;
  border : 1px solid black;
  transition : .3s;
}

#popup1_2{
  top : 530px;
}

.daySelector > div:nth-child(1){
  padding-bottom : 20px;
  border-bottom : 1px solid rgb(38, 153, 251);
}

.daySelector .number{
  display : flex;
  flex-direction: row;
  justify-content: space-between;
}

.daySelector .number > span{
  display : inline-block;
  padding : 15px 10px;
  color : #afafaf;
}

.daySelector .number:nth-child(3) > span{
  border-top : 1px solid rgb(38, 153, 251);
  border-bottom : 1px solid rgb(38, 153, 251);
  color : red;
}

.daySelector .buttonContainer{
  display : flex;
  margin-top : 20px;
}

.daySelector .buttonContainer button{
  color : #fff;
  border-radius: 5px;
  cursor : pointer;
}

.daySelector .buttonContainer > button:nth-child(1){
  background-color : rgb(251, 120, 120);
  flex : 1;
  margin-right : 10px;
}

.daySelector .buttonContainer > button:nth-child(2){
  background-color : rgb(85, 83, 83);
  width : 80px;
}

#popup2{
  width : 650px;
  height : 800px;
  left : 730px;
  top : 70px;
  padding : 10px 105px;
}

#popup2 .selectType{
  display : flex;
  justify-content: space-between;
  width : 100%;
  margin-bottom : 10px;
}

#popup2 .selectType > button{
  box-sizing: border-box;
  border-radius : 0;
  width : 80px;
  height : 80px;
  background-color : #fff;
  outline : none;
  border : 1px solid #cccccc;
  cursor : pointer;
}

#popup2 .selectType .select{
  border : 2px solid rgb(38, 153, 251);
  color : rgb(38, 153, 251);
}

#popup2 .defaultInfo{
  display : flex;
  flex-direction: row;
  justify-content: space-between;
  height : 140px;
  font-size : 14px;
  margin-bottom : 20px;
  color : #aaaaaa;
}

#popup2 .defaultInfo > div:nth-child(1){
  width : 35px;
  box-sizing: border-box;
  display : flex;
  align-items: center;
  padding : 0 10px;
  border : 1px solid #aaaaaa;
  border-radius: 5px;
  margin-right : 15px;
}

#popup2 .defaultInfo > div:nth-child(2){
  width : 100%;
  display : flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding : 10px 20px;
  border : 1px solid #aaaaaa;
  border-radius: 5px;
}

#popup2 .mainInfo{
  display : flex;
  flex-direction: row;
  justify-content: space-between;
  font-size : 14px;
  height : 450px;
}

#popup2 .mainInfo > div:nth-child(1){
  width : 35px;
  box-sizing: border-box;
  display : flex;
  align-items: center;
  padding : 0 10px;
  border : 1px solid rgb(20, 84, 235);
  border-radius: 5px;
  margin-right : 15px;
  background-color : rgb(156, 184, 241);
  line-height : 26px;
}

#popup2 .mainInfo > div:nth-child(2){
  width : 100%;
  display : flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

#popup2 .mainInfo > div > div{
  height : 35px;
  width : 100%;
  margin : 10px 0;
}

#popup2 .mainInfo > div > div > label{
  margin-left : 10px;
  background-color : #fff;
}

#popup2 .mainInfo > div > div > input{
  box-sizing: border-box;
  width : 100%;
  border-radius: 5px;
  height : 35px;
  outline : none;
  border : 1px solid #aaaaaa;
  padding : 10px;
  font-size : 16px;
}

#popup2 .mainInfo .last{
  flex : 1;
}

#popup2 .mainInfo .last textarea{
  box-sizing: border-box;
  height : 100%;
  width : 100%;
  outline : none;
  border-radius: 5px;
  font-size : 16px;
  padding : 10px;
  font-family: inherit;
  border : 1px solid #aaaaaa;
}

#popup2 .buttonContainer{
  margin-top : 10px;
  display : flex;
  flex-direction: row;
  justify-content: space-between;
}

#popup2 .buttonContainer > button{
  outline : none;
  border : none;
  color : #fff;
  height : 40px;
  border-radius: 5px;
  cursor : pointer;
}

#popup2 .buttonContainer > button:nth-child(1){
  flex : 1;
  background-color : rgb(38, 153, 251);
  margin-right : 20px;
}

#popup2 .buttonContainer > button:nth-child(2){
  background-color :  rgb(85, 83, 83);
  width : 80px;
}

/*---------------popup design end-------------*/
header .bottom{
  border-top : 1px solid rgb(10, 228, 18);
}

header .bottom > button{
  width : 185px;
  height : 38px;
  box-sizing: border-box;
  border-radius: 5px;
  margin : 10px;
  outline : none;
  border : 1px solid rgba(0,0,0,0.3);
  background-color : #fff;
  display : flex;
  flex-direction: row;
  align-items : center;
  cursor : pointer;
}

header .bottom > button > span{
  display : inline-block;
  width : 20px;
  height : 20px;
  background-color : rgba(0,0,0,0.1);
}

header .bottom > button > div{
  display : inline-block;
  margin : 0 auto;
}

header .bottom > button:nth-child(2){
  margin-right : 180px;
}

header .bottom > button:nth-child(3){
  margin : auto auto;
}
/*--------- table ---------*/

table{
  border-spacing : 0;
  width : 100%;
}

table td{
  height : 45px;
}

.table-body{
  color : #303030;
  font-size : 15px;
}

/*--------section 1---------*/

.item_container .table-header{
  background-color : rgb(123, 184, 126);
  color : #fff;
}

.item_container .even{
  background-color : rgb(229, 245, 249);
}

.item_container tr > td:nth-child(1){width : 600px;padding-left : 10px;}
.item_container tr > td:nth-child(2){width : 150px; text-align : center;}
.item_container tr > td:nth-child(3){width : 600px;}
.item_container tr > td:nth-child(4){width : 150px;}
.item_container tr > td:nth-child(5){width : 300px;}

/*-------section 2-------*/

.order_container .table-header{
  background-color : rgb(222, 181, 139);
  color : #fff;
}

.order_container .even{
  background-color : rgb(249, 242, 229);
}

.order_container tr > td:nth-child(1){width : 100px;text-align : center;}
.order_container tr > td:nth-child(2){width : 200px;}
.order_container tr > td:nth-child(3){width : 100px;text-align : right;}
.order_container tr > td:nth-child(4){width : 100px;text-align : right;}
.order_container tr > td:nth-child(5){width : 150px;text-align : center;}
.order_container tr > td:nth-child(6){width : 100px;text-align : center;}
.order_container tr > td:nth-child(7){width : 200px;text-align : left;}
.order_container tr > td:nth-child(8){width : 100px;text-align : center;}
.order_container tr > td:nth-child(9){width : 500px;}
.order_container tr > td:nth-child(10){width : 300px;}


/*------------input box animation-------------*/
/* CSS */
.outBox {position:relative; height:33px;}
.outBox label {
  position:absolute;
  left:0;
  top : 24px !important;
  padding : 0;
  color: #aaaaaa;
  font-size:14px !important;
  font-weight:normal;
  background:#fff !important;
  transform:scale(1) translate(4px, -18px);
  transition:all .15s;
  pointer-events:none;
}
.outBox input:focus + label, .existence label,
.outBox input:not(:placeholder-shown) + label,
.outBox textarea:focus + label,
.outBox textarea:not(:placeholder-shown) + label{
  transform:scale(.75) translate(-10px, -46px);
  color : black;
}

#outBox1 label{
  color : black;
}

input::placeholder, textarea::placeholder{
  opacity : 0;
}
